.email-header {
    background-image: url('https://images.vexels.com/media/users/3/229082/isolated/preview/6fabc24c3830d75486725cc6d786dfbb-logotipo-dos-circulos-do-livro.png');
    background-size: cover;
    height: 200px;
}
